body::-webkit-scrollbar {
    display: none;
  }
  
  body {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  body, html {
      overflow-x:hidden;
  }
  
  img {
      -webkit-user-drag: none;
  }
  
  ::selection {
     background: #005b49;
     color: #fff
  }
  
  ::-moz-selection {
     background: #005b49;
     color: #fff
  }
  
  
  ::-webkit-selection {
      background: #005b49;
     color: #fff
  }
  
  
  body, html {
      
  }
  
  body {
      -webkit-font-smoothing: antialiased;
      color:#333;
  }
  
  .container {
      /* max-width: 750px;
      margin: auto; */
      max-width: 1920px;
      margin: auto;
  }
  
  .footer {
      background-color: #fff;
      padding: 70px 20px 60px;
      text-align: center;
  }
  
  .apply-form {
      /* max-width:1100px;
      margin: auto; */
      padding: 80px 0;
  }
  
  .apply-form form {
      max-width:750px;
      margin: auto;
  }
  
  .agree_box {
      width: 100%;
      overflow-y: auto;
      border: 3px solid #000;
      border-top: none;
      padding: 20px;
      box-sizing: border-box;
      height: 300px;
      background: #fff;
      color: #333;
      font-size: 20px;
      text-align: left;
  }
  
  .agree_box .h5 {
      display: inline-block;
      !font-weight: 800;
      font-size: 22px;
      margin-bottom: 20px;
      font-family:'KBO-Dia-Gothic_medium';
  }
  
  .agree_box .h6 {
      font-family:'KBO-Dia-Gothic_medium';
  }
   
  .agree_radio {
      font-size: 22px;
      text-align: center;
      color: #fff;
      margin: 50px 0;
      font-family:'KBO-Dia-Gothic_medium';
  }
  
  .agree_radio span {
      padding-right: 10px;
  }
  
  .agree_radio .block {
      display: block;
      margin-bottom: 10px;
  }
  
  .agree_radio label {
      cursor:pointer;
  }
  
  .answer_popup {
      max-width: 800px;
      display:none;
      text-align:center;
      left: 50% !important;
      transform: translateX(-50%) !important;
      padding: 100px 0 !important;
  }
  
  .answer_popup .title {
      position:relative;
      text-align:center;
  }
  
  .answer_popup .agree_box {
      height: 310px;
  }
  
  .board_write_form {
      width: 100%;
      padding: 0 60px;
  }
  
  .board_write_form_table {
      position:relative;
      z-index: 5;
      border: 3px solid #000;
  }
  
  .board_write_form .form_field {
      font-size: 15px;
  }
  
  .board_write_form .form_field th {
      font-family:'KBO-Dia-Gothic_medium';
      width: 250px;
      font-size: 20px;
      color: #fff;
      text-align: center;
      background-color: #005b49;
      padding: 20px;
      vertical-align: middle;
      border-bottom:1px solid #dcdcdc;
  }
  
  input::placeholder {
      font-size: 20px;
  }
  
  .board_write_form td.field {
      width: 500px;
      font-size: 22px;
      padding: 15px;
      text-align: left;
      border-bottom:1px solid #4f4f4f;
      background-color: #fff;
      vertical-align:middle;
  }
  
  .board_write_form td.field.age span {
      margin-right: 15px;
  }
  
  .board_write_form .buttons {
      display:flex;
      text-align: center;
      margin-top: 30px;
  }
  
  .board_write_form .buttons a {
      display: inline-block;
      font-size: 30px;
      width: 350px;
      height: 90px;
      line-height: 80px;
      background-color:#fff;
      color:#000;
      cursor:pointer;
      border: 3px solid #000;
      font-family:'KBO-Dia-Gothic_bold';
  }
  
  .board_write_form .buttons a.confirm {
      background-color: #a24e23;
      color:#fff;
  }
  
  .board_write_form .form-group:nth-of-type(2) {
      margin: 5px 0;
  }
  
  .agree_wrap {
      position:relative;
      z-index: 5;
  }
  
  .find_post {
      width: 154px;
      height: 35px;
      line-height: 35px;
      padding: 0;
      font-size: 17px;
      background-color: #4a2312;
      color: #fff;
  }
  
  .w120 {
      width: 120px;
  }
  
  .w300 {
      width: 400px;
  }
  
  .board_write_form input[type='text'], 
  .board_write_form input[type='tel'], 
  .board_write_form select {
      height: 50px;
      font-size: 20px;
  }
  
  .right_wingbanner {
      position:absolute;
      top: 250px;
      left: 50%;
      margin-left: 440px;
      transition: all  .4s ease-in-out;
      z-index: 999999;
  }
  
  .right_wingbanner.fixed {
      position:fixed;
      top: 200px;
  }
  
  .section01 {
      background-image:url('img/section01_bg.jpg');
      background-position:center 0;
      height: 3152px;
      text-align:center;
      padding-top: 90px;
      position: relative;
  }
  
  .section01 .item {
      margin-top: 50px;
  }

  
  .section01 .obj_area {
      position: absolute;
      left: 50%;
      transform: translate3d(-50%, 0, 0) !important;
      top: 0px;
      width: 1920px;
  }
  
  .section01 .obj_area img {
      position: relative;
      z-index: 999;
  }	
  
   .section01 .obj_ani_01 {
       position: absolute;
      left: 530px;
      top: 740px;
      width: 562px;
      z-index: 99;
  }
  
   .section01 .obj_ani_02 {
       position: absolute;
      left: 1080px;
      top: 840px;
      width: 460px;
      z-index: 99;
  }
  
   .section01 .obj_ani_03 {
       position: absolute;
      left: 195px;
      top: 670px;
      width: 322px;
      z-index: 99;
  }
  
  /* 날아다니는 노란 공룡 */
  .section01 .obj_ani_04 {
    position: absolute;
    left: 310px;
    top: 430px;
    width: 244px;
    z-index: 99;
    animation: birdFly 3s linear infinite;
}

@keyframes birdFly {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    25% {
        transform: translate(20px, -10px) rotate(20deg);
    }
    50% {
        transform: translate(40px, 0px) rotate(0deg);
    }
    75% {
        transform: translate(20px, 10px) rotate(-20deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

/* 연두 핑크 공룡 dino */
.section01 .obj_ani_05 {
    position: absolute;
    right: 550px;
    top: 1112px;
    width: 388px;
    z-index: 99;
    transform: rotate(-3deg);
    animation: obj_ani_05 3s linear infinite;
}

@keyframes obj_ani_05 {
    0%, 100% {
        transform: translateY(0px) rotate(-3deg);
    }
    50% {
        transform: translateY(50px) rotate(-3deg);
    }
    25%, 75% {
        transform: translateY(-50px) rotate(-3deg);
    }
}

  
   .section01 .obj_ani_06 {
       position: absolute;
      right: 0px;
      top: 620px;
      width: 584px;
      z-index: 99;
  }
  
  .section02 {
      padding-top: 700px;
      position: relative;
  }
  
  .section02 .title {
      margin-bottom: 40px;
  }
  
  .section02 .dino_area {
      position: absolute;
      left: 50%;
      transform: translate3d(-50%, 0, 0) !important;
      width: 1920px;
  }
  
  .section02 .dino_ani_01 {
      position: absolute;
      left: 50px;
      top: -160px;
      width: 460px;
      animation: 1s dino_ani_01 forwards;
  }
  
  @keyframes dino_ani_01 {
      0% {
          transform: translate(0px, 0px);
      }
     
      100% {
          transform: translate(70px, 30px);
      }
  }

/* 바다 공룡 1 */
.dino_area {
    position: relative;
    overflow: hidden;
    height: 800px;
}

.dino_ani_01 {
    position: absolute;
    top: -200px; 
    transition: top 1s ease; 
}


  .section02 .dino_ani_02 {
      position: absolute;
      right: 0;
      top: -90px;
      width: 534px;
  }
  
  .section02 .dino_ani_03 {
      position: absolute;
      top: -320px;
      right: 390px;
      width: 368px;
  }
  
  .section02 .item {
      margin-bottom: 30px;
  } 

  .section02 .bottom_section {
      width: 690px;
      margin: auto;
      position:relative;
      height: 1000px;
      text-align:center;
  } 
  
  .section02 .dinosaur {
      position:absolute;
      top: 490px;
      left: 50%;
      transform:translate(-50%, -50%);
      width: 690px;
      height: 1000px;
      background-image:url('img/section02_map.png');
  }
  
  .section02 .dinosaur.on {
      background-image:url('img/dinosaur_on_bg.png');
      top: 530px;
  }
  
  .section02 .icon {
      position:absolute;
      left: -30px;
      bottom: -30px;
      width: 222px;
      height: 252px;
      background-image:url('img/dinosaur_icon.png');
      background-position:center center;
  }
  
  @keyframes blinkAni {
      0% {
          transform:translateY(-15px);
      }
  
      50% {
          transform:translateY(0px);
      }
  
      100% {
          transform:translateY(-15px);
      }
  }
  
  .section02 .icon:hover {
      cursor:pointer;
      animation:none !important;
  }
  
  .section02 .icon:active {
      background-image:url('../img/dinosaur_icon_move.png');
      background-position:center 0;
      height: 234px;
      animation:none !important;
  }
  
  .section02 .icon.reset {
      right: -30px !important;
      bottom: -30px !important;
  }
  
  .section02 .icon.answer {
      display:none;
      opacity: 0;
      visibility:0;
  }
  
  .section03 {
      background-image:url('img/section03_bg_new.jpg');
      background-position:center;
      height: 1740px;
      text-align:center;
      padding: 180px 0;
      position: relative;
  }
  
  .section03 .title {
      margin-bottom: 70px;
  }
  
  .section03 .top_item {
      margin-bottom: 60px;
  }
  
  .section03 .md_item {
      margin-bottom: 60px;
  }
  
  .section03 .bt_item {
      position: absolute;
      left: 50%;
      transform: translate3d(-50%, 100px, 0);
      top: 970px;
      width: 690px;
      z-index: 9999 !important;
  }
  
  .section03 .bt_item.aos-animate {
      transform: translate3d(-50%, 0, 0);
  }
  
  .section03 .bt_item_ani {
      position: absolute;
      right: 10px;
      top: 310px;
      width: 344px;
  }
  
  @keyframes bt_item_ani {
      0% {
          transform:translateY(-10px);
      }
  
      50% {
          transform:translateY(0px);
      }
  
      100% {
          transform:translateY(-10px);
      }
  }
  
  .section03 .illus_area {
      position: absolute;
      left: 50%;
      transform: translate3d(-50%, 0, 0) !important;
      bottom: 0;
      width: 1920px;
  }
  
  .section03 .illus_area > img {
      position: relative;
      z-index: 999;
  }
  
  .section03 .illus_ani {
      position: absolute;
      right: 0;
      top: 230px;
      width: 562px;
  }
  
  .section04 {
      background-color: #143324;
      text-align:center;
      padding: 40px;
  }
  
  .section04 p {
      font-family:'KBO-Dia-Gothic_medium';
      font-size: 19px;
      color: #fff;
      display:inline-block;
      text-align:left;
      line-height: 200%;
  }